* {
  box-sizing: border-box;
  }

  html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #333333;
  }

#menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 4rem;
}

body {
  margin: 0;
}

#menu a{
text-transform: uppercase;
font-weight: bold;
text-decoration: none;
color: #333333;
}

#burger {
  background-color: #ffffff;
  border: 0;
  outline: 0;
  float: right;
}

#header {
  height: 60px;
  background: #ffffff;
  position: fixed;
  z-index: 99;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation {
  display: none;
  opacity: 0;
}

#navigation.show {
  display: block;
  text-align: center;
  background: #fff;
  width: 100%;
  height: calc(100vh - 50px);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  opacity: 1;
  margin-top: 50px;
}

#hero {
  background-image: url(img/intro.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.welcome{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%);
  color: white;
  text-align: center;
}

.button{
  padding: 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 6px hsla(0,0,0,.2)
}

.button-white{
  color: #374a67;
  background: #fff;
  border: 1px solid #374a67
}

.card{
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  width: 100%;
  text-align: center;
  padding: 1rem;
}

#rezepte{
  text-align: center;
}

.card img{
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card p, .card h3{
  padding: 0 1rem;
}

.h3 a{
  color: #333;
  text-decoration: none;
}

.text{
  color: #828282;
}

.card a.button-blue{
  color: #fff;
  background: #374a67;
  border: 1px solid #374a67;
  padding: 1rem;
  display: inline-block;
}

.widget{
background-color: #04122B;
text-align: center;
color: #fff;
padding: 2rem;
margin-top: 2rem;
}

h2 span{
  display: block;
  font-weight: normal;
  font-size: 1rem;
  }

.newsletter{ /*Newsletter*/
  margin-top: 1rem;
  }

.email{
height: 49px;
border-radius: 4px;
outline: none;
border-color: transparent;
padding-left: 1rem;
}

.email::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #04122B;
}

#footer a{
text-decoration: none;
color: #000;
font-weight: bold;
}

ul{                       /*li wäre auch möglich*/
  list-style-type: none;
}

#social-nav li {
display: inline-block;
font-size: 30px;
padding: 5px;
}

#footer{
  padding: 2rem;
}

#footer-nav li{
  padding: 5px;
}

#social-nav li a:hover{
  color: #828282;
}

@media (min-width: 48em) {
  .row{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
  }

  .card{
    width: 48%;
    margin: 1%;
  }

  #footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #social-nav ul{
    display: flex;
  }

  #footer-nav li{             /* oder geht auch: #footer-nav ul{display:flex;}*/
    padding: 1rem;
    display: inline-block;
  }

}
